@charset "utf-8";
@font-face {
    font-family: 'Karla';
    src: url('/src/assets/fonts/Karla-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'Karla', sans-serif;
    line-height: 1em;
    color: #fff;
    background-color: #E6EFF5;
    padding-top: 163px;
}
@media screen and (max-width: 650px) {
    body {
        padding: 72px 0 62px;
    }
}
.inner {
   width: 100%;
   max-width: 699px;
   margin: 0 auto;
   padding: 0 32px;
}